// Define variables for your color scheme

// For example:
$red: #FF5C5C;
$blue: #95E1D3;
$yellow: #FFBB02;
$orange: #FCE38A;
$green: #EAFFD0;
$gray: #A8A8A8;
$dark-gray: #3B3F3F;
$light-gray: #F4F4F4;
$black: #222222


// // Kerbside

// $red: #F6416C;
// $light-gray: #F8F3D4;
// $green: #00B8A9;
// $gray: #0F0909;
// $white: #DEDDDD;
// $yellow: #FFDE7D;
