<!-- app/views/chatrooms/_chatroom.html.erb -->

<div class="chatroom">
  <h2>Chatroom: <%= @chatroom.name %></h2>
  <div class="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message">
        <strong><%= message.user.email %>:</strong> <%= message.content %>
      </div>
    <% end %>
  </div>
</div>
