<%= content_for(:navbar_class, "navbar-home") %>


<div style="background-image: url('<%= asset_path('iStock-1262998444.jpg') %>'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh; display: flex; justify-content: center; align-items: center; padding: 50px 100px;">
<div style="padding: 60px 200px; margin-top: -400px; text-align: center;">
    <%= render 'pages/facts' %>
    <h1 class="display-2">Helping people find the treasure in your trash</h1>
<a href="/posts" class="btn btn-secondary btn-lg col-6 mx-auto" style="font-size: 1.5em; margin-top: 20px;">Start your search</a>
  </div>
</div>


<div style="padding: 60px 200px; background-color: white; text-align: left;">
  <h2>Are you looking for bargain,  the chance to do something good for the environment?</h2>
  <h2>Or are you pressed for time, lacking motivation, or unsure about how to recycle your hard rubbish?</h2>
  <h2>Then Kerbside is for you.</h2>
</div>

<div style="padding: 30px 200px; background-color: white; display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px;">

 <div class="breakout_flexbox">
    <h2>Easy to use</h2>
    <p class="lead">Quickly upload photos of your hard rubbish and let seekers now what it is, where it is and how long they have until is gone.</p>
    <img src="placeholder.jpg" alt="Placeholder Image" style="position: absolute; bottom: 0; right: 0;">
  </div>

 <div class="breakout_flexbox">
    <h2>Live Rubbish Maps</h2>
     <p class="lead">Never miss out on a find! Our comprehensive map keeps track of all individual and council-wide hard rubbish collections, both current and those on the horizon.</p>
    <img src="placeholder.jpg" alt="Placeholder Image" style="position: absolute; bottom: 0; right: 0;">
  </div>

 <div class="breakout_flexbox">
    <h2>Stay Updated</h2>
     <p class="lead">Receive instant updates about the hard rubbish you are interested in.</p>
    <img src="placeholder.jpg" alt="Placeholder Image" style="position: absolute; bottom: 0; right: 0;">
  </div>
</div>

<div style="padding: 60px 200px; background-color: white; display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px;">

 <div class="breakout_flexbox">
    <h2>Educate & Navigate</h2>
     <p class="lead">Dive into our rich collection of resources – from upcycling tutorial videos to our 'picker' code of conduct, council regulations, and alternative recycling services/options.</p>
    <img src="placeholder.jpg" alt="Placeholder Image" style="position: absolute; bottom: 0; right: 0;">
  </div>

 <div class="breakout_flexbox">
    <h2>Live Chat Function</h2>
     <p class="lead">Owners and pickers can directly interact, making pickups and coordination seamless and efficient.</p>
    <img src="placeholder.jpg" alt="Placeholder Image" style="position: absolute; bottom: 0; right: 0;">
  </div>

 <div class="breakout_flexbox">
    <h2>Plan Your Route</h2>
     <p class="lead">Utilize our mapping tool to chart the fastest route from one hard rubbish location to the next. This ensures you stay on track and don't miss out on any treasures.</p>
    <img src="placeholder.jpg" alt="Placeholder Image" style="position: absolute; bottom: 0; right: 0;">
  </div>

</div>

<div style="padding: 2  0px 100px; background-color: white; text-align: center;">
   <p class="lead">Join our mission to transform hard rubbish recycling.</p>
   <p class="lead">Download Kerbside now and find the treasure just around the corner.</p>
</div>
