.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: #0E0000;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFBB02;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FCE38A;
  color: #0E0000;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.custom-btn {
  font-size: 1.5em;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-logout {
  background-color: #f8f9fa; /* Light grey background */
  border: 1px solid #ced4da; /* Grey border */
  color: #495057; /* Dark grey text */
  padding: 5px 10px; /* Padding to increase size */
  border-radius: 5px; /* Rounded corners for a modern look */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.btn-logout:hover {
  background-color: #e2e6ea; /* Slightly darker background on hover */
  color: #343a40; /* Slightly darker text on hover */
}
