.outline-card {
  border-radius: 15px;
}

.uniform_image_card {
  height: 120px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
}

.fixed-height-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  border: none;
}

.fixed-height-card .card-body {
  flex: 1;
  border: none;
}
