.no-outline-shadow-card_ok {
  border-radius: 15px;
}

.show_image_card {
  height: auto;
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 0.3rem;
  border: none;
   box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  //  playing around with drop shadow. Will delete if rubbish
}







.fixed-height-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
   //  playing around with drop shadow. Will delete if rubbish
  border: none;
}

.fixed-height-card .card-body {
  flex: 1;
  border: none;
}
