.no-outline-shadow-card {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.no-outline-shadow-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.uniform_image_card {
  height: 200px;
  object-fit: cover;
  width: 100%;
  // border-radius: 10px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // border: 1px solid #e0e0e0;
}
