.outline-card {
  border-radius: 15px;
}

  .uniform_image_card {
    height: 120px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }


  .fixed-height-card {
    height: 350px; /* Adjust as per your design preference */
    display: flex;
    flex-direction: column;
  }

  .fixed-height-card .card-body {
    // overflow-y: auto; /* Enables vertical scrolling if content overflows */
    flex: 1; /* Ensures the card body takes the remaining space in the card */
  }
