.breakout_flexbox {
  flex: 1;
  padding: 40px;
  position: relative;
  background-color: lightgrey;
}

.uniform-image {
  height: 200px; /* or whatever height you desire */
  object-fit: cover;
  width: 100%;
}
