// Base or generic components
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "buttons";
@import "footer";
@import "card_index";
@import "card_show";
// @import "uniform_image_card";

// Pages or specific views
@import "devise_login";


// message styling
@import 'components/_message';
@import 'components/_chatroom';

//map styling//
@import 'components/_map';
