.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #6da279;
}

.receiver-style {
  background-color: #e0e0e0;
}


.messages {
  flex-grow: 1;
  overflow-y: auto;
}
